{% extends 'UI/header.html'%}
{%load staticfiles%}
{%block content%}
<head>
<link rel="stylesheet" href="{%static '/CSS/aboutme.CSS'%}">
</head>

<head>

    <style>
    </style>

</head>
<div class="container">

    <section>
        <nav >
            <ul>
                <img src="{% static "images/bhaskar.jpg"%}" border="5" height="400" width="350">
            </ul>
        </nav>

        <article class="container">

            <h1>Name:</h1>

                        
        </article>
    </section>
</div>

{%endblock%}